.loginform { 
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 60px;
}

.input { 
	padding: 11px 62px 11px 8px;
	background-color: #FAFAFA;
	border: 1px solid var(--color-border);
	border-radius: 3px;
}

.error { 
	color: var(--color-error);
}
