.modalContent { 
	display: flex;

}

.imageBorder {
    width: 570px;
    height: 600pxpx;
    /* padding: 4px; */
    /* border-radius: 50%; */
    /* background: conic-gradient(#b93aaa, #e95950, #e99250, #eecd4a, #e99657, #e95950, #b83170, #aa3ab9); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 23px;
    margin-left: 56px; */
}

.image {
    width: 100%;
    height: 600px;
    /* border-radius: 50%; */
    object-fit: cover;
    background-color: white;
    /* padding: 4px; */
}

.avatarBorder {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#b93aaa, #e95950, #e99250, #eecd4a, #e99657, #e95950, #b83170, #aa3ab9);
    /* margin-top: 23px;
    margin-left: 56px; */
}

.avatarImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    padding: 1px;
}

.infoSection { 
	width: 529px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* padding: 30px; */
}

.userInfo { 
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
padding: 10px 10px 10px 10px;
border-bottom: 1px solid var(--color-border);
}

.userInfoContainer { 
    display: flex;
/* justify-content: center; */
align-items: center;
gap: 10px;
padding: 10px 10px 10px 10px;
}

.comments { 
	height: 100%;
}

.description { 
	padding: 10px 10px 10px 10px;
	display: flex;
	gap: 10px;
}

.username { 
	font-size: 12px;
	font-weight: 600;
}

.descriptionTextContainer { 
	display: flex;
	gap: 5px;
}

.descriptionText { 
	font-size: 12px;
}

.buttonContainer { 
	/* margin: 10px 0px 10px 10px; */
	margin-bottom: 10px;
}

.fitback { 
	border-top: 1px solid var(--color-border);
	padding: 10px;
}

.commentInput { 
    height: 100%;
    width: 80%;
    border: none;
    margin-left: 40px;
	outline: none;
}
.commentInput:focus {
  outline: none;
  box-shadow: none;
}

.commentFooter { 
    border-top: 1px solid var(--color-border);
    height: 44px;
    /* display: flex;
    justify-content: center;
    justify-content: space-around; */
}

.sendComment { 
    border: none;
    color: var(--color-primary);
    font-weight: 600;
    background: none;

}

.menuIcon { 
    margin-right: 5px;
}

/* Темный полупрозрачный фон */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный черный фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* поверх всего остального */
}

/* Само окно модального окна */
.modalContentButtons {
  background-color: var(--color-background); /* светлый фон окна */
  border-radius: 12px;
  width: 300px; 
  max-width: 90%;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

/* Кнопки внутри модального окна */
.modalButton {
  padding: 15px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.2s;
}

.modalButton.cancel {
  border-radius: 0px 0px 8px 8px ;

  border-top: 1px solid var(--color-border);
}

.modalButton.cancel:hover {
  background-color: #ccc;
}

.modalButton.delete {
     border-radius: 8px 8px 0px 0px;
     font-weight: 600;
     color: var(--color-error);

}

.modalButton.delete:hover {
  background-color: #ccc;
}
