.footerBlock { 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footerBlock p { 
	color: var(--color-footerText);
	font-size: 12px;
}

.menu { 
	display: flex;
	gap: 40px;
	margin-top: 22px;
	margin-bottom: 45px;
}

.item { 
	color: var(--color-footerText);
	font-size: 12px;
}