.sectionContainer { 
    margin-top: 75px;
}

.postsContainer {
    display: grid;
    grid-template-columns: repeat(3, 307px);
    gap: 4px;
}

.imageContainer {
    width: 307px;
    height: 307px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.notPosts { 
	height: 100%;
	display: flex;
	margin-top: 200px;
	/* align-items: center; */
	justify-content: center;
}