.backdrop {
  position: fixed; /* фиксируется поверх всей страницы */
  top: 0;
  left: 1;
  width: 100%;     /* на всю ширину экрана */
  height: 100%;    /* на всю высоту */
  background-color: rgba(0, 0, 0, 0.4); /* полупрозрачный чёрный фон */
  display: flex;   
  justify-content: flex-end; /* выравниваем drawer справа */
  z-index: 1000;   /* уровень слоя — выше обычных элементов страницы */
}

.drawer {
  background-color: #fff;
  width: 397px;
  height: 100%;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  position: relative;
	margin-right: auto;
	/* margin-left: auto; */
  transform: translateX(0);
	border-radius: 0px 15px 15px 0px;
}